{% extends 'portal/base.html' %}

{% block title %} {% endblock title %}

{% block back %} {% endblock back %}

{% load static %}

{% load humanize %}

{% block content %}

<!-- Pending bills -->

{% if data.pending_bills %}

    <div class="container d-none d-md-block" style="width: 900px"> <!-- Desktop version -->
        <div class="my-3 container">
            <h4> Resúmenes </h4>
        </div>

        <div class="container" style="width: 800px">

            <div class="table" style="width: 650px">
                <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="col-md-2">&#128195;</th>
                        <th scope="col" class="col-md-1">Factura</th>
                        <th scope="col" class="col-md-1"></th>
                        <th scope="col" class="col-md-1">Titular</th>
                        <th scope="col" class="col-md-1" style="text-align:center">Vence</th>
                        <th scope="col" class="col-md-1" style="text-align:center">Pago mín.</th>
                        <th scope="col" class="col-md-1" style="text-align:center">Pago total</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in data.pending_bills %}
                    <tr>
                        <td><a href="{% url 'bills:credit_card_view' item.pk %}" class="rowlink link-dark text-decoration-none"><img src="{% static 'images/cards/' %}{{ item.card.brand }}.png" height=18px> {{ item.card.number }}</a></td>
                        <td>{{ item.bill_id }}</td>
                        <td style="text-align:center">{% if item.inconsistencies != 0 %}&#x274C;{% else %}&#x2714;{% endif %}</td>
                        <td>{{ item.card.name }}</td>
                        <td style="text-align:center">{{ item.due_date | date:"m-d" }}</td>
                        <td style="text-align:right">{{ item.min_pay | floatformat:2 | intcomma }}</td>
                        <td style="text-align:right">{{ item.total_pay | floatformat:2 | intcomma }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="table-info" style="text-align:center">Total</td>
                                <td class="table-info" style="text-align:right">{{ data.pending_bills_subtotal | floatformat:2 | intcomma }}</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endif %}


<!-- Unbilled spending -->

{% if data.unbilled_spending %}

<div class="container d-none d-md-block" style="width: 900px"> <!-- Desktop version -->
    <div class="my-3 container">
        <h4> Parciales </h4>
    </div>

    <div class="container" style="width: 800px">

        <div class="table" style="width: 300px">
            <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col" class="col-md-2">&#128195;</th>
                    <th scope="col" class="col-md-1">Titular</th>
                    <th scope="col" class="col-md-1" style="text-align:right">Pago total</th>
                </tr>
            </thead>
            <tbody>
            {% for item in data.unbilled_spending %}
                    <tr>
                    <td><a href="{% url 'credit_cards:unbilled_spending' item.0.id %}" class="rowlink link-dark text-decoration-none"><img src="{% static 'images/cards/' %}{{ item.0.brand }}.png" height=18px> {{ item.0.number }}</a></td>
                    <td>{{ item.0.name }}</td>
                    <td class="px-md-3" style="text-align:right">{{ item.1 | floatformat:2 | intcomma }}</td>
                    </tr>
            {% endfor %}
            </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td class="table-info" style="text-align:center">Total</td>
                            <td class="table-info px-md-3" style="text-align:right">{{ data.unbilled_spending_total | floatformat:2 | intcomma }}</td>
                        </tr>
                    </tfoot>
            </table>
        </div>
    </div>

</div>
{% endif %}


<!-- Pending bills -->

<div class="container d-block d-md-none">  <!-- Mobile version -->
    {% if data.pending_bills %}
    <div class="my-3 container">
        <h4> Resúmenes </h4>
    </div>

    <div class="table">
        <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">&#128195;</th>
                <th scope="col" style="text-align:center"></th>
                <th scope="col">Vence</th>
                <th scope="col" style="text-align:right">Pago</th>
            </tr>
        </thead>
        <tbody>
        {% for item in data.pending_bills %}
                <tr>
                <td><a href="{% url 'bills:credit_card_view' item.pk %}" class="rowlink link-dark text-decoration-none"><img src="{% static 'images/cards/' %}{{ item.card.brand }}.png" height=14px> {{ item.card.number }}</a></td>
                <td style="text-align:center">{% if item.inconsistencies != 0 %}&#x274C;{% else %}&#x2714;{% endif %}</td>
                <td>{{ item.due_date | date:"m-d" }}</td>
                <td style="text-align:right">{{ item.min_pay | floatformat:2 | intcomma }}</td>
                </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td class="table-info" style="text-align:center">Total</td>
            <td colspan="2" class="table-info" style="text-align:right">{{ data.pending_bills_subtotal | floatformat:2 | intcomma }}</td>
            {% comment %} <td></td> {% endcomment %}
        </tr>
        </tfoot>
        </table>
    </div>
    {% endif %}
</div>

<!-- Unbilled spending -->

{% if data.unbilled_spending %}

    <div class="container-fluid d-block d-md-none">  <!-- Mobile version -->
        <div class="my-3 container">
            <h4> Parciales </h4>
        </div>
    
        <div class="table-responsive">
            <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">&#128195;</th>
                    <th scope="col">Titular</th>
                    <th scope="col" style="text-align:right">Pago total</th>
                </tr>
            </thead>
            <tbody>
            {% for item in data.unbilled_spending %}
                    <tr>
                    <td><a href="{% url 'credit_cards:unbilled_spending' item.0.id %}" class="rowlink link-dark text-decoration-none"><img src="{% static 'images/cards/' %}{{ item.0.brand }}.png" height=18px> {{ item.0.number }}</a></td>
                    <td>{{ item.0.name }}</td>
                    <td style="text-align:right">{{ item.1 | floatformat:2 | intcomma }}</td>
                    </tr>
            {% endfor %}
            </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td class="table-info" style="text-align:center">Total</td>
                            <td class="table-info" style="text-align:right">{{ data.unbilled_spending_total | floatformat:2 | intcomma }}</td>
                        </tr>
                    </tfoot>
            </table>
        </div>
    </div>


{% endif %}

<!-- Operations -->

<div class="container d-none d-md-block" style="width: 900px"> <!-- Desktop version -->
    <div class="my-3 container pt-3">
        <h4> Movimientos</h4>
    </div>
    
    <div class="container" style="width: 800px">

        <div class="table">
            <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col" class="col-1">&#128176;</th>
                    <th scope="col" class="col-2">Fecha</th>
                    <th scope="col" class="col-2">Entidad</th>
                    <th scope="col" class="col-1 px-md-5">Importe</th>
                    <th scope="col" class="col-2">Categoría</th>
                </tr>
            </thead>
            <tbody>
            {% for item in data.combined_ops %}
                <tr>
                    {% if item.card %}
                        <td><a href="{% url 'credit_cards:update_op' item.pk %}" class="rowlink link-dark text-decoration-none"><img src="{% static 'images/cards/' %}{{ item.card.brand }}.png" height=18px> {{ item.card.number }}</a></td>
                    {% elif item.account %}
                        <td><a href="{% url 'accounts:update_op' item.pk %}" class="rowlink link-dark text-decoration-none">{% if item.account.bank == 'bancolombia' %}<img src="{% static 'images/bancolombia-logo.png' %}" height=17px>{% endif %} {{ item.account.name }}</a></td>
                    {% endif %}
                    <td>{{ item.date | date:"Y-m-d H:m" }}</td>
                    <td>{{ item.entity }}</td>
                    <td class="px-md-5" style="text-align:right">{{ item.amount | floatformat:2 | intcomma }}</td>
                    <td>{% if item.category != None %}&#127991; {{ item.category }}{% else %}-{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container d-block d-md-none"> <!-- Mobile version -->
    <div class="my-3 container pt-3">
        <h4> Movimientos</h4>
    </div>

    <div class="table">
        <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">&#128176;</th>
                <th scope="col">Fecha</th>
                <th scope="col">Entidad</th>
                <th scope="col" class="px-md-5">Importe</th>
            </tr>
        </thead>
        <tbody>
        {% for item in data.combined_ops %}
            <tr>
                {% if item.card %}
                    <td><a href="{% url 'credit_cards:update_op' item.pk %}" class="rowlink link-dark text-decoration-none"><img src="{% static 'images/cards/' %}{{ item.card.brand }}.png" height=14px> {{ item.card.number }}</a></td>
                {% elif item.account %}
                <td><a href="{% url 'accounts:update_op' item.pk %}" class="rowlink link-dark text-decoration-none">{% if item.account.bank == 'bancolombia' %}<img src="{% static 'images/bancolombia-logo.png' %}" height=14px>{% endif %} {{ item.account.name }}</a></td>
                {% endif %}
                <td>{{ item.date | date:"m-d" }}</td>
                <td>{{ item.entity | truncatechars:12 }}</td>
                <td class="px-md-5" style="text-align:right">{{ item.amount | floatformat:2 | intcomma }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>

<!-- Dolar -->

{% comment %} <div class="my-3 container">
    <h4> Cotizaciones</h4>
</div>

<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-sm table-hover">
        <thead>
            <tr>
            <th scope="col">&#128202;</th>
            <th scope="col"></th>
            <th scope="col" style="text-align:center">Compra</th>
            <th scope="col" style="text-align:center">Venta</th>
            <th scope="col" style="text-align:center">Otro</th>
            <th scope="col" class="d-none d-md-block">Update</th>
            </tr>
        </thead>
        <tbody>
        {% for quote in data.dolar %}
            <tr>
            <td><img src="{% static '/images/dolar/' %}{% if 'gene' in quote.0.name %}cop{% else %}{{ quote.0.name }}{% endif %}.png" width="20" height="20"></td>
            <td><a class="link-dark text-decoration-none rowlink" href="/dolar/history/{% if 'gene' in quote.0.name %}cop{% else %}{{ quote.0.name }}{% endif %}"><strong>{% if 'gene' in quote.0.name %}COP{% else %}{{ quote.0.name | slice:4 | upper }}{% endif %}</strong></a></td>
            <td style="text-align:right">{{ quote.0.buy | floatformat:2 }}{% if quote.0.buy > quote.1.buy or quote.1.buy == None %}<font color="red">&#9650;</font>{% else %}<font color="green">&#9660;</font>{% endif %}</td>
            <td style="text-align:right">{{ quote.0.sell | floatformat:2 }}{% if quote.0.sell > quote.1.sell or quote.1.sell == None %}<font color="red">&#9650;</font>{% else %}<font color="green">&#9660;</font>{% endif %}</td>
            <td style="text-align:right">{% if quote.0.other > 0 %}{{ quote.0.other | floatformat:2 }}{% if quote.0.other > quote.1.other or quote.1.other == None %}<font color="red">&#9650;</font>{% else %}<font color="green">&#9660;</font>{% endif %}{% endif %}</td>
            <td class="d-none d-md-block">{{ quote.0.time_relative }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div> {% endcomment %}

{% if data.dolar %}

    <div class="container d-none d-md-block" style="width: 900px"> <!-- Desktop version -->
        <div class="my-3 container pt-3">
            <h4> Cotizaciones</h4>
        </div>
        
        <div class="container" style="width: 800px">
            <div class="table" style="width: 550px">
                <table class="table table-sm table-hover">
                <thead>
                    <tr>
                    <th scope="col">&#128202;</th>
                    <th scope="col"></th>
                    <th scope="col" style="text-align:center">Compra</th>
                    <th scope="col" style="text-align:center">Venta</th>
                    <th scope="col" style="text-align:center">TRM</th>
                    <th scope="col">Update</th>
                    </tr>
                </thead>
                <tbody>
                {% for quote in data.dolar %}
                    <tr>
                    <td><img src="{% static '/images/dolar/' %}{% if 'gene' in quote.0.name %}cop{% else %}{{ quote.0.name }}{% endif %}.png" width="20" height="20"></td>
                    <td><a class="link-dark text-decoration-none rowlink" href="/dolar/history/{% if 'gene' in quote.0.name %}cop{% else %}{{ quote.0.name }}{% endif %}"><strong>{% if 'gene' in quote.0.name %}COP{% else %}{{ quote.0.name | slice:4 | upper }}{% endif %}</strong></a></td>
                    <td style="text-align:right">{{ quote.0.buy | floatformat:2 }}{% if quote.0.buy > quote.1.buy or quote.1.buy == None %}<font color="red"> &#9650;</font>{% else %}<font color="green"> &#9660;</font>{% endif %}</td>
                    <td style="text-align:right">{{ quote.0.sell | floatformat:2 }}{% if quote.0.sell > quote.1.sell or quote.1.sell == None %}<font color="red"> &#9650;</font>{% else %}<font color="green"> &#9660;</font>{% endif %}</td>
                    <td style="text-align:right">{% if 'gene' in quote.0.name %}{% if quote.0.other > 0 %}{{ quote.0.other | floatformat:2 }}{% if quote.0.other > quote.1.other or quote.1.other == None %}<font color="red"> &#9650;</font>{% else %}<font color="green"> &#9660;</font>{% endif %}{% endif %}{% endif %}</td>
                    <td>{{ quote.0.time_relative }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="container d-block d-md-none"> <!-- Mobile version -->
        <div class="my-3 container pt-3">
            <h4> Cotizaciones</h4>
        </div>

        <div class="table">
            <table class="table table-sm table-hover">
            <thead>
                <tr>
                <th scope="col">&#128202;</th>
                <th scope="col"></th>
                <th scope="col" style="text-align:center">Compra</th>
                <th scope="col" style="text-align:center">Venta</th>
                <th scope="col" style="text-align:center">TRM</th>
                </tr>
            </thead>
            <tbody>
            {% for quote in data.dolar %}
                <tr>
                <td><img src="{% static '/images/dolar/' %}{% if 'gene' in quote.0.name %}cop{% else %}{{ quote.0.name }}{% endif %}.png" width="20" height="20"></td>
                <td><a class="link-dark text-decoration-none rowlink" href="/dolar/history/{% if 'gene' in quote.0.name %}cop{% else %}{{ quote.0.name }}{% endif %}"><strong>{% if 'gene' in quote.0.name %}COP{% else %}{{ quote.0.name | slice:4 | upper }}{% endif %}</strong></a></td>
                <td style="text-align:right">{{ quote.0.buy | floatformat:2 }}{% if quote.0.buy > quote.1.buy or quote.1.buy == None %}<font color="red"> &#9650;</font>{% else %}<font color="green"> &#9660;</font>{% endif %}</td>
                <td style="text-align:right">{{ quote.0.sell | floatformat:2 }}{% if quote.0.sell > quote.1.sell or quote.1.sell == None %}<font color="red"> &#9650;</font>{% else %}<font color="green"> &#9660;</font>{% endif %}</td>
                <td style="text-align:right">{% if 'gene' in quote.0.name %}{% if quote.0.other > 0 %}{{ quote.0.other | floatformat:2 }}{% if quote.0.other > quote.1.other or quote.1.other == None %}<font color="red"> &#9650;</font>{% else %}<font color="green"> &#9660;</font>{% endif %}{% endif %}{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
{% endif %}


{% endblock %}