{% extends 'portal/base.html' %}

{% block title %} {% endblock title %}

{% block back %} {% endblock back %}

{% load static %}

{% load humanize %}

{% block content %}

<!-- Pending bills -->

{% if data.pending_bills %}
    {% include "credit_cards/blocks/pending_bills.html" with pending_bills=data.pending_bills pending_bills_subtotal=data.pending_bills_subtotal %}
{% endif %}

<!-- Unbilled spending -->

{% if data.unbilled_spending %}
    {% include "credit_cards/blocks/unbilled_spending.html" with unbilled_spending=data.unbilled_spending min=data.unbilled_spending_min total=data.unbilled_spending_total %}
{% endif %}

<!-- Operations -->

{% if data.combined_ops %}
    {% include "./blocks/combined_ops.html" with combined_ops=data.combined_ops %}
{% endif %}

{% if data.dolar %}
    {% include "./blocks/dolar.html" with dolar=data.dolar %}
{% endif %}


{% endblock content %}