{% extends 'portal/base.html' %}

{% comment %} {% block title %} Otras opciones {% endblock %} {% endcomment %}

{% block title %}

<div class="container" align="center">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'portal:index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Opciones</li>
    </ol>
</div>

{% endblock title %}


{% block content %}

<div class="my-5 container" align="center">

    <a href="{% url 'categories:index' %}" class="btn btn-secondary me-1">&#127991; Categorías</a>

    <a href="{% url 'trips:index' %}" class="btn btn-secondary me-1">&#128747; Viajes</a>

</div>

{% endblock %}