{% extends "portal/base.html" %}

{% load static %}

{% load humanize %}

{% comment %} {% block title %} Confirmación {% endblock title %} {% endcomment %}

{% block title %}

<div class="container" align="center">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'portal:index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">...</li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'trips:index' %}">Viajes</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'trips:edit' object.pk %}">{{object.place}} ({{object.start_date | date:"Y" }})</a></li>
        <li class="breadcrumb-item active" aria-current="page">Eliminar</li>
    </ol>
</div>

{% endblock title %}


{% block content %}

<br>

<div align="center">
<form method="post">{% csrf_token %}
    <p>Seguro que querés eliminar el viaje a "{{ object.place }}"?</p>
        <input type="submit" value="Confirmar" class="btn btn-danger">
        <input
        class="btn btn-secondary me-1"
        value="Cancelar"
        type="button"
        onclick="location.href='javascript:history.go(-1)'">
    </form>
</div>

{% endblock content %}