{% extends "portal/base.html" %}

{% load static %}

{% load humanize %}

{% block js_head %}

<script type="text/javascript" src= "https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnUncheckAll').click(function () {
            $('input[type=checkbox]').each(
                function (index, checkbox) {
                    checkbox.checked = false;
            });
        });
        $('#btnCheckAll').click(function () {
            $('input[type=checkbox]').each(
                function (index, checkbox) {
                    checkbox.checked = true;
            });
        });
    });
</script>

{% endblock js_head %}

{% comment %} {% block title %} Editar viaje {% endblock title %} {% endcomment %}

{% block title %}

<div class="container" align="center">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'portal:index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">...</li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'trips:index' %}">Viajes</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{object.place}} ({{object.start_date | date:"Y" }})</li>
    </ol>
</div>

{% endblock title %}


{% block content %}




<div class="form-group col col-md-7 mx-auto">
    <form method="post">
        {% csrf_token %}
            {% comment %} {{ form.as_p }} {% endcomment %}

            {% for field in form %}
                <p class="fieldWrapper">
                    {% if 'Operaciones' not in field.label_tag %}
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    {% endif %}
                </p>
            {% endfor %}

            {% if form.card_operations.value %}
                <p class="fieldWrapper">
                    {{ form.card_operations.errors }}
                    <label for="{{ form.card_operations.id_for_label }}">Operaciones de tarjeta:</label>
                    {{ form.card_operations }}
                </p>
            {% endif %}

            {% if form.account_operations.value %}
                <p class="fieldWrapper">
                    {{ form.account_operations.errors }}
                    <label for="{{ form.account_operations.id_for_label }}">Operaciones de cuenta:</label>
                    {{ form.account_operations }}
                </p>
            {% endif %}

        <br>

        <div class="container">
            <input type="button" 
                class="btn btn-primary btn-sm"
                value="Ninguno" 
                id="btnUncheckAll"/>
            <input type="button" 
                class="btn btn-primary btn-sm"
                value="Todos" 
                id="btnCheckAll"/>
        </div>


        {% if operations %}
            <div class="my-3 container">
                <h5> Operaciones seleccionadas</h5>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Entidad</th>
                        <th scope="col" class="px-md-5" style="text-align:right">Importe</th>
                        <th scope="col" class="priority-3">Categoría</th>
                        <th scope="col" class="priority-3">Cuotas</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in operations %}
                    <tr>
                        <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{% if item.trip_id == trip.id %}True{% else %}False{% endif %}" name="{{ item.id }}_{% if item.card %}card{% else %}account{% endif %}_is_checked" class="user-action" {% if item.trip_id == trip.id %}checked{% endif %}>
                        </div>
                        </td>
                    {% if item.card %}
                        <td><a href="{% url 'credit_cards:update_op' item.pk %}" class="link-dark text-decoration-none"><img src="{% static 'images/cards/' %}{{ item.card.brand }}.png" height=18px> {{ item.card.number }}</a></td>
                    {% elif item.account %}
                        <td><a href="{% url 'accounts:update_op' item.pk %}" class="link-dark text-decoration-none">{% if item.account.bank == 'bancolombia' %}<img src="{% static 'images/bancolombia-logo.png' %}" height=17px>{% endif %} {{ item.account.name }}</a></td>
                    {% endif %}
                        <td>{{ item.date | date:"m-d" }}</td>
                        <td>{{ item.entity }}</td>
                        <td class="px-md-5" style="text-align:right">{{ item.amount | floatformat:2 | intcomma }}</td>
                        <td class="priority-3">{% if item.category != None %}{{ item.category }}{% else %}-{% endif %}</td>
                        <td class="priority-3" style="text-align:center">{{ item.dues }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>

        <div class="container">
            <input type="button" 
                class="btn btn-primary btn-sm"
                value="Ninguno" 
                id="btnUncheckAll"/>
            <input type="button" 
                class="btn btn-primary btn-sm"
                value="Todos" 
                id="btnCheckAll"/>
        </div>

        <br>
        {% endif %}

        <div class="container" align="center">
            <input
                class="btn btn-success me-1"
                value="Actualizar"
                type="submit">
            <input
                class="btn btn-secondary me-1"
                value="Cancelar"
                type="button"
                onclick="location.href='javascript:history.go(-1)'">
            <input
                class="btn btn-danger me-1"
                value="Borrar"
                type="button"
                onclick="location.href='{% url 'trips:delete' trip.id %}'">
        </div>


    </form>
</div>

<br><br>



{% endblock %}