{% extends 'portal/base.html' %}

{% load static %}

{% load humanize %}

{% comment %} {% block title %} Viajes {% endblock %} {% endcomment %}

{% block title %}

<div class="container" align="center">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'portal:index' %}">Home</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'portal:settings' %}">Opciones</a></li>
        <li class="breadcrumb-item active" aria-current="page">Viajes</li>
    </ol>
</div>

{% endblock title %}


{% block content %}


<div class="container my-5" align="center">
    <a href="{% url 'trips:add' %}" class="btn btn-secondary btn-sm">Agregar</a>
</div>

<div class="container-fluid d-none d-md-block" align="center"> <!-- Desktop version -->
    <div class="table">
        <table class="table table-sm table-hover" style="width: 900px">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Lugar</th>
                <th scope="col">País</th>
                <th scope="col" style="text-align:center">Desde</th>
                <th scope="col" style="text-align:center">Hasta</th>
                <th scope="col" style="text-align:center">Operaciones</th>
                <th scope="col" style="text-align:center">Total</th>
                <th scope="col" style="text-align:center">Por día</th>
                {% comment %} <th scope="col" style="text-align:right">Pendiente</th> {% endcomment %}
            </tr>
        </thead>
        <tbody>
        {% for item in item_list.trips %}
            <tr>
                <td><a href="{% url 'trips:edit' item.pk %}" class="rowlink"><img src={% static '/images/edit-button.png' %} height=15px></a></td>
                <td>{{ item.place }}</td>
                <td>{{ item.country }}</td>
                <td style="text-align:center">{{ item.start_date | date:"Y-m-d" }}</td>
                <td style="text-align:center">{{ item.end_date | date:"Y-m-d" }}</td>
                <td style="text-align:center">{{ item.num_operations }}</td>
                <td class="px-md-3" style="text-align:right">{{ item.total_amount | floatformat:2 | intcomma }}</td>
                <td class="px-md-3" style="text-align:right">{{ item.daily_spend | floatformat:2 | intcomma }}</td>
                {% comment %} <td></td> {% endcomment %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>

<div class="container-fluid d-block d-md-none"> <!-- Mobile version -->
    <div class="table">
        <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Lugar</th>
                <th scope="col">País</th>
                <th scope="col">Fecha</th>
                <th scope="col" style="text-align:right">Total</th>
            </tr>
        </thead>
        <tbody>
        {% for item in item_list.trips %}
            <tr>
                <td><a href="{% url 'trips:edit' item.pk %}" class="rowlink"><img src={% static '/images/edit-button.png' %} height=15px></a></td>
                <td>{{ item.place }}</td>
                <td>{{ item.country | slice:3 | upper }}</td>
                <td>{{ item.start_date | date:"Y" }}</td>
                <td style="text-align:right">{{ item.total_amount | floatformat:2 | intcomma }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>

{% endblock %}