{% extends 'portal/base.html' %}

{% load static %}

{% load humanize %}

{% block title %} Cuentas {% endblock %}

{% block content %}

<div class="my-5 container" align="center">

    <a href="{% url 'accounts:last_ops' %}" class="btn btn-dark me-1">Ultimos movimientos</a>

    <a href="{% url 'bills:accounts' %}" class="btn btn-dark me-1">Resúmenes</a>

</div>

<div class="my-3 container">
    <h4>&#128181; Movimientos</h4>
</div>

<div class="container-fluid d-none d-md-block"> <!-- Desktop version -->
    <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Fecha</th>
            <th scope="col">Entidad</th>
            <th scope="col">Importe</th>
            <th scope="col">Categoría</th>
        </tr>
    </thead>
    <tbody>
    {% for item in item_list.last_ops %}
        <tr>
            <td><a href="{% url 'accounts:update_op' item.pk %}" class="rowlink text-decoration-none link-dark"><img src="{% static 'images/' %}{{ item.account.bank }}-logo.png" height=18px> {{ item.account.name }}</a></td>
            <td>{{ item.date | date:"Y-m-d H:m" }}</td>
            <td>{{ item.entity }}</td>
            <td align="right">{{ item.amount | floatformat:2 | intcomma }}</td>
            <td>{% if item.category != ''%}{{ item.category }}{% else %}-{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>

<div class="container-fluid d-block d-md-none"> <!-- Mobile version -->
    <table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Fecha</th>
            <th scope="col">Importe</th>
            <th scope="col">Entidad</th>
        </tr>
    </thead>
    <tbody>
    {% for item in item_list.last_ops %}
        <tr>
            <td><a href="{% url 'accounts:update_op' item.pk %}" class="rowlink text-decoration-none link-dark">{% if item.account.bank == 'bancolombia' %}<img src="{% static 'images/bancolombia-logo.png' %}" height=14px>{% endif %} {{ item.account.name }}</a></td>
            <td>{{ item.date | date:"m-d" }}</td>
            <td align="right">{{ item.amount | floatformat:2 | intcomma }}</td>
            <td>{{ item.entity | truncatechars:12 }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>

<br>

{% if item_list.pending_bills %}
    <div class="my-3 container">
        <h4>&#9200; Resúmenes pendientes</h4>
    </div>

    <div class="container-fluid d-none d-md-block"> <!-- Desktop version -->
        <div class="table-responsive">
            <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Factura</th>
                    <th scope="col">Cuenta</th>
                    <th scope="col">Titular</th>
                    <th scope="col" style="text-align:center">Verificado</th>
                </tr>
            </thead>
            <tbody>
            {% for item in item_list.pending_bills %}
                    <tr>
                    <td><a href="{% url 'bills:account_view' item.pk %}" class="rowlink text-decoration-none">&#x1F50D;</td>
                    <td>&#x1F4C3; {{ item.bill_id }}</td>
                    <td><img src="{% static 'images/cards/' %}{{ item.card.brand }}.png" height=18px> {{ item.card.number }}</td>
                    <td>{{ item.card.name }}</td>
                    <td style="text-align:center">{% if item.inconsistencies != 0 %}&#x274C;{% else %}&#x2714;{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>

    <div class="container-fluid d-block d-md-none"> <!-- Mobile version -->
        <div class="table-responsive">
            <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Cuenta</th>
                    <th scope="col" style="text-align:center">Verif.</th>
                </tr>
            </thead>
            <tbody>
            {% for item in item_list.pending_bills %}
                    <tr>
                    <td><a href="{% url 'bills:account_view' item.pk %}" class="rowlink text-decoration-none">&#x1F50D;</td>
                    <td>{{ item.account.owner }}</td>
                    <td style="text-align:center">{% if item.inconsistencies != 0 %}&#x274C;{% else %}&#x2714;{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>

{% endif %}

<br>

{% if item_list.uncategorized_ops %}
<div class="my-3 container">
    <h4>&#x1F4DD; Movimientos sin categorizar</h4>
</div>

<div class="container-fluid d-none d-md-block">  <!-- Desktop version -->

    <div class="table-responsive">
        <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Fecha</th>
                <th scope="col">Entidad</th>
                <th scope="col">Importe</th>
            </tr>
        </thead>
        <tbody>
        {% for item in item_list.uncategorized_ops %}
            <tr>
                <td><a href="{% url 'accounts:update_op' item.pk %}" class="rowlink text-decoration-none link-dark"><img src="{% static 'images/' %}{{ item.account.bank }}-logo.png" height=18px> {{ item.account.name }}</a></td>
                <td>{{ item.date | date:"Y-m-d H:m" }}</td>
                <td>{{ item.entity }}</td>
                <td class="currency" align="right">{{ item.amount | floatformat:2 | intcomma }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>
<div class="container-fluid d-block d-md-none">  <!-- Mobile version -->

    <div class="table-responsive">
        <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Fecha</th>
                <th scope="col">Entidad</th>
                <th scope="col">Importe</th>
            </tr>
        </thead>
        <tbody>
        {% for item in item_list.uncategorized_ops %}
            <tr>
                <td><a href="{% url 'accounts:update_op' item.pk %}" class="rowlink text-decoration-none link-dark"><img src="{% static 'images/' %}{{ item.account.bank }}-logo.png" height=14px> {{ item.account.name }}</a></td>
                <td>{{ item.date | date:"m-d" }}</td>
                <td>{{ item.entity | truncatechars:12 }}</td>
                <td class="currency" align="right">{{ item.amount | floatformat:2 | intcomma }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>

{% endif %}

{% endblock %}