<!-- todo_list/todo_app/templates/todo_app/todoitem_form.html -->
{% extends "portal/base.html" %}

{% load static %}

{% load humanize %}

{% comment %} {% block title %} Editar operación {% endblock title %} {% endcomment %}

{% block title %}

<div class="container" align="center">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'portal:index' %}">Home</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'accounts:index' %}">Cuentas</a></li>
        <li class="breadcrumb-item active" aria-current="page">Operaciones</li>
        <li class="breadcrumb-item active" aria-current="page">Editar</li>
    </ol>
</div>

{% endblock title %}


{% block content %}

<div class="form-group col col-md-5 mx-auto">
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="id_card">Cuenta:</label>
            <input type="text" class="form-control" value="{{ object.account.bank | upper }} *{{ object.account.number }} {{ object.account.owner | title }}" disabled=True>
        </p>
        <p>
            <label for="date">Fecha:</label>{{ form.date }}
        </p>
        <p>
            <label for="date">Tipo:</label>{{ form.type }}
        </p>
        <p>
            <label for="date">Entidad:</label>{{ form.entity }}
        </p>
        <p>
            <label for="date">Monto:</label>{{ form.amount }}
        </p>
        <div class="container-responsive">
            <div class="row">
                <div class="col-9 mx-auto">
                    <p>
                        <label for="category">Categoría:</label>{{ form.category }}
                    </p>
                </div>
                <div class="col">
                    <br>
                    <p>
                        <input
                        class="btn btn-sm btn-warning me-1"
                        value="Crear"
                        type="button"
                        onclick="location.href='{% url "categories:add" %}'">
                    </p>
                </div>
            </div>
        </div>
        {% comment %} <p>
            <label for="trip">Viaje:</label>{{ form.trip }}
        </p> {% endcomment %}

        <div class="container-responsive">
            <div class="row">
                <div class="col-9 mx-auto">
                    <p>
                        <label for="trip">Viaje:</label>{{ form.trip }}
                    </p>
                </div>
                <div class="col">
                    <br>
                    <p>
                        <input
                        class="btn btn-sm btn-warning me-1"
                        value="Crear"
                        type="button"
                        onclick="location.href='{% url "trips:add" %}'">
                    </p>
                </div>
            </div>
        </div>
        <p>
            <label for="date">Comentario:</label>{{ form.comment }}
        </p>

        <br><br>

        <div class="container" align="center">
            <input
                class="btn btn-success me-1"
                value="Actualizar"
                type="submit">
            <input
                class="btn btn-danger me-1"
                value="Cancelar"
                type="button"
                onclick="location.href='javascript:history.go(-1)'"> <!-- TODO: redirect to previous page -->
            <input
                class="btn btn-secondary me-1"
                value="&#128270; Maps"
                type="button"
                onclick="window.open('https://timeline.google.com/maps/timeline?pb=!1m2!1m1!1s{{ object.date_string }}','_blank')">
        </div>
    </form>
</div>


{% endblock %}