{% extends "portal/base.html" %}

{% comment %} {% block title %} {{ title }} {% endblock title %} {% endcomment %}

{% block title %}

<div class="container" align="center">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'portal:index' %}">Home</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'portal:settings' %}">Opciones</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'categories:index' %}">Categorías</a></li>
        <li class="breadcrumb-item active" aria-current="page">Agregar</li>
    </ol>
</div>

{% endblock title %}


{% block content %}

<div class="container" align="center">
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input
                class="btn btn-secondary me-1"
                value="Agregar"
                type="submit">
            <input
                class="btn btn-secondary me-1"
                value="Cancelar"
                type="button"
                onclick="location.href='javascript:history.go(-1)';">
        </form>
    </div>
</div>

{% endblock %}