<!-- todo_list/todo_app/templates/todo_app/todoitem_form.html -->
{% extends "portal/base.html" %}

{% load static %}

{% load humanize %}

{% comment %} {% block title %} Editar categoría {% endblock title %} {% endcomment %}

{% block title %}
<div class="container" align="center">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'portal:index' %}">Home</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'portal:settings' %}">Opciones</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'categories:index' %}">Categorías</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editar</li>
    </ol>
</div>
{% endblock title %}

{% block content %}

<div class="form-group col col-md-5 mx-auto">
    <form method="post">
        {% csrf_token %}
            {{ form.as_p }}
        <br>

        <div class="my-3 container">
            <h5> Palabras clave asociadas </h5>
        </div>

        {% comment %} {% if obj.keywords %}
        {% for item in obj.keywords %}
            {{ item }}
        {% endfor %}
        {% else %}
        <div class="my-3 container">
            Ninguna
        </div> {% endcomment %}


        <div class="container-responsive">
            <div class="row">
                <div class="col-9 mx-auto">
                    <div class="container">
                    {% if obj.keywords %}
                        {% for item in obj.keywords %}
                            {% comment %} <a class="link-dark text-decoration-none" href="{% url 'categories:delete_keyword' obj.pk item.pk %}">&#10060; {{ item.name }}</a><br> {% endcomment %}

                            <div class="container mt-1">
                                <button type="button" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#item{{item.id}}">
                                    &#10060; {{ item.name }}
                                </button>
                                <br>
                            </div>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="item{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="item{{item.id}}">Palabra clave</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Borrar '{{ item.name }}'?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" onclick=location.href="{% url 'categories:delete_keyword' obj.pk item.pk %}">Borrar</button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                    <div class="my-3 container">
                        Ninguna
                    </div>
                    {% endif %}
                    </div>
                </div>
                <div class="col">
                    <br>
                    <p>
                        <input
                        class="btn btn-sm btn-warning me-1"
                        value="Agregar"
                        type="button"
                        onclick="location.href='{% url "categories:add_keyword" obj.id %}'">
                    </p>
                </div>
            </div>
        </div>



        {% comment %} {% endif %} {% endcomment %}

        <br>


        {% if obj.operations %}

        <div class="my-3 container">
            <h5> Operaciones con esta categoría </h5>
        </div>

        <div class="table-responsive">
            <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Entidad</th>
                    <th scope="col">Importe</th>
                    <th scope="col" class="priority-3">Cuotas</th>
                </tr>
            </thead>
            <tbody>
            <input type="hidden" name="card_operations_id" value="{{ card_operations_id }}">
            <input type="hidden" name="account_operations_id" value="{{ account_operations_id }}">
            {% for item in obj.operations %}
                <tr>
                    <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{% if item.category.id == obj.id %}True{% else %}False{% endif %}" name="{{ item.id }}_{% if item.card %}card{% else %}account{% endif %}_is_checked" class="user-action" {% if item.category.id == obj.id %}checked{% endif %}>
                    </div>
                    </td>                            
                {% if item.card %}
                    <td><a href="{% url 'credit_cards:update_op' item.pk %}" class="link-dark text-decoration-none"><img src="{% static 'images/cards/' %}{{ item.card.brand }}.png" height=18px> {{ item.card.number }}</a></td>
                {% elif item.account %}
                    <td><a href="{% url 'accounts:update_op' item.pk %}" class="link-dark text-decoration-none">{% if item.account.bank == 'bancolombia' %}<img src="{% static 'images/bancolombia-logo.png' %}" height=17px>{% endif %} {{ item.account.name | slice:3 }}</a></td>
                {% endif %}
                    <td>{{ item.date | date:"m-d" }}</td>
                    <td>{{ item.entity }}</td>
                    <td align="right">{{ item.amount | floatformat:2 | intcomma }}</td>
                    <td class="priority-3" style="text-align:center">{{ item.dues }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>

        {% endif %}



        <div class="container" align="center">
            <input
                class="btn btn-secondary me-1"
                value="Actualizar"
                type="submit">
            <input
                class="btn btn-secondary me-1"
                value="Cancelar"
                type="button"
                onclick="location.href='javascript:history.go(-1)'">
            <input
                class="btn btn-danger me-1"
                value="Borrar"
                type="button"
                onclick="location.href='{% url 'categories:delete' obj.id %}'">
        </div>
    </form>
</div>

{% endblock %}