{% extends 'portal/base.html' %}

{% comment %} {% block title %} Tarjetas de Crédito {% endblock %} {% endcomment %}

{% block title %}

<div class="container" align="center">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'portal:index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tarjetas</li>
    </ol>
</div>

{% endblock title %}


{% block content %}

{% if item_list.pending_bills %}
    {% include "./blocks/pending_bills.html" with pending_bills=item_list.pending_bills pending_bills_subtotal=item_list.pending_bills_subtotal %}
{% endif %}

<br>

{% if item_list.unbilled_spending %}
    {% include "./blocks/unbilled_spending.html" with unbilled_spending=item_list.unbilled_spending min=item_list.unbilled_spending_min total=item_list.unbilled_spending_total %}
{% endif %}

<br>

{% if item_list.last_ops %}
    {% include "./blocks/last_ops.html" with last_ops=item_list.last_ops %}
{% endif %}

<br>

{% if item_list.uncategorized_ops %}
    {% include "./blocks/uncategorized_ops.html" with uncategorized_ops=item_list.uncategorized_ops %}
{% endif %}

{% endblock content %}