
{% extends "portal/base.html" %}

{% load static %}

{% load humanize %}

{% block title %} Editar operación {% endblock title %}

{% block content %}

<div class="form-group col-md-6">
    <form method="post">
        {% csrf_token %}
            <p>
                <label for="id_card">Tarjeta:</label>
                <input type="text" class="form-control" value="{{ object.card.brand | upper }} {% if object.card.tier %}{{ object.card.tier | title }}{% endif %} *{{ object.card.number }} - {{ object.card.owner }}" disabled=True>
            </p>
            {{ form.as_p }}
        <br>
        <input
            class="btn btn-success me-1"
            value="Actualizar"
            type="submit">
        <input
            class="btn btn-danger me-1"
            value="Cancelar"
            type="button"
            onclick="location.href='{% url "credit_cards:last_ops" %}'">
        <input
            class="btn btn-secondary me-1"
            value="&#127758; Ver en Maps"
            type="button"
            onclick="window.open('https://timeline.google.com/maps/timeline?pb=!1m2!1m1!1s{{ object.date_string }}','_blank')">
        <br><br>
        <input
            class="btn btn-warning me-1"
            value="Agregar categoría"
            type="button"
            onclick="location.href='{% url "categories:add" %}'">
    </form>
</div>

{% endblock %}