{% extends 'portal/base.html' %}

{% load static %}

{% load humanize %}

{% comment %} {% block title %} Resúmenes de tarjetas de crédito {% endblock title %} {% endcomment %}

{% block title %}

<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'portal:index' %}">Home</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'credit_cards:index' %}">Tarjetas</a></li>
        <li class="breadcrumb-item active" aria-current="page">Resúmenes</li>
    </ol>
</div>

{% endblock title %}

{% block content %}

{% if item_list.unpaid %}

<div class="container d-none d-md-block" style="width: 900px"> <!-- Desktop version -->
    <div class="my-3 container pt-3">
        <h4> Pendientes </h4>
    </div>
    
    <div class="container" style="width: 800px">

        <div class="table-responsive">
            <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Factura</th>
                    {% comment %} <th scope="col">Tarjeta</th> {% endcomment %}
                    <th scope="col">Titular</th>
                    <th scope="col" style="text-align:center">Vencimiento</th>
                    <th scope="col">Pago mínimo</th>
                    <th scope="col">Pago total</th>
                    <th scope="col" style="text-align:center">Problemas</th>
                </tr>
            </thead>
            <tbody>
            {% for item in item_list.unpaid %}
                <tr 
                    {% if item.has_inconsistency %}
                        class="table-danger"
                    {% endif %}>
                    {% comment %} <td><a href="{% url 'bills:credit_card_view' item.pk %}" class="rowlink"><img src={% static '/images/edit-button.png' %} height=15px></td> {% endcomment %}
                    <td><a href="{% url 'bills:credit_card_view' item.pk %}" class="rowlink link-dark text-decoration-none"><img src="{% static 'images/cards/' %}{{ item.card.brand }}.png" height=18px> {{ item.card.number }}</a></td>
                    <td>{{ item.bill_id }}</td>
                    {% comment %} <td><img src="{% static 'images/cards/' %}{{ item.card.brand }}.png" height=18px> {{ item.card.number }}</td> {% endcomment %}
                    <td>{{ item.card.name }}</td>
                    <td style="text-align:center">{{ item.due_date | date:"m-d" }}</td>
                    <td class="currency" align="right">{{ item.min_pay | floatformat:2 | intcomma }}</td>
                    <td class="currency" align="right">{{ item.total_pay | floatformat:2 | intcomma }}</td>
                    <td style="text-align:center">{% if item.inconsistencies != 0 %}<strong>{{ item.inconsistencies }}</strong>{% elif item.has_inconsistency %}<strong>1</strong>{% else %}-{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container-fluid d-block d-md-none"> <!-- Mobile version -->
    <div class="my-3 container pt-3">
        <h4> Pendientes </h4>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                {% comment %} <th scope="col" style="text-align:center">Tarjeta</th> {% endcomment %}
                <th scope="col" style="text-align:center">Vence</th>
                <th scope="col" style="text-align:center">Pago</th>
                <th scope="col" style="text-align:center">Problemas</th>
            </tr>
        </thead>
        <tbody>
        {% for item in item_list.unpaid %}
            <tr 
                {% if item.has_inconsistency %}
                    class="table-danger"
                {% endif %}>
                <td><a href="{% url 'bills:credit_card_view' item.pk %}" class="rowlink link-dark text-decoration-none"><img src="{% static 'images/cards/' %}{{ item.card.brand }}.png" height=14px> {{ item.card.number }}</a></td>
                {% comment %} <td style="text-align:center">{{ item.card.number }}</td> {% endcomment %}
                <td style="text-align:center">{{ item.due_date | date:"m-d" }}</td>
                <td  style="text-align:right">{{ item.min_pay | floatformat:2 | intcomma }}</td>
                <td style="text-align:center">{% if item.inconsistencies != 0 %}<strong>{{ item.inconsistencies }}</strong>{% elif item.has_inconsistency %}<strong>1</strong>{% else %}-{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>

{% endif %}

{% if item_list.paid %}

<div class="container d-none d-md-block" style="width: 900px"> <!-- Desktop version -->
    <div class="my-3 container pt-3">
        <h4> Anteriores </h4>
    </div>
    
    <div class="container" style="width: 800px">

        <div class="table-responsive">
            <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Factura</th>
                    {% comment %} <th scope="col">Tarjeta</th> {% endcomment %}
                    <th scope="col">Titular</th>
                    <th scope="col" style="text-align:center">Vencimiento</th>
                    <th scope="col">Pago mínimo</th>
                    <th scope="col">Pago total</th>
                    <th scope="col" style="text-align:center">Problemas</th>
                </tr>
            </thead>
            <tbody>
            {% for item in item_list.paid %}
                <tr>
                    {% comment %} <td class="prev_items"><a href="{% url 'bills:credit_card_view' item.pk %}" class="rowlink"><img src={% static '/images/edit-button.png' %} height=15px></td> {% endcomment %}
                    <td><a href="{% url 'bills:credit_card_view' item.pk %}" class="rowlink link-dark text-decoration-none"><img src="{% static 'images/cards/' %}{{ item.card.brand }}.png" height=18px> {{ item.card.number }}</a></td>
                    <td class="prev_items">{{ item.bill_id }}</td>
                    {% comment %} <td class="prev_items"><img src="{% static 'images/cards/' %}{{ item.card.brand }}.png" height=18px> {{ item.card.number }}</td> {% endcomment %}
                    <td class="prev_items">{{ item.card.name }}</td>
                    <td class="prev_items" style="text-align:center">{{ item.due_date | date:"m-d" }}</td>
                    <td class="prev_items" align="right">{{ item.min_pay | floatformat:2 | intcomma }}</td>
                    <td class="prev_items" align="right">{{ item.total_pay | floatformat:2 | intcomma }}</td>
                    <td class="prev_items" style="text-align:center">{% if item.inconsistencies != 0 %}<strong>{{ item.inconsistencies }}</strong>/{{item.operations.count}}{% elif item.has_inconsistency %}<strong>1</strong>{% else %}-{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container-fluid d-block d-md-none"> <!-- Mobile version -->
    <div class="my-3 container pt-3">
        <h4> Anteriores </h4>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                {% comment %} <th scope="col" style="text-align:center">Tarjeta</th> {% endcomment %}
                <th scope="col" style="text-align:center">Vence</th>
                <th scope="col" style="text-align:center">Pago mínimo</th>
                <th scope="col" style="text-align:center">Problemas</th>
            </tr>
        </thead>
        <tbody>
        {% for item in item_list.paid %}
            <tr>
                {% comment %} <td class="prev_items"><a href="{% url 'bills:credit_card_view' item.pk %}" class="rowlink"><img src={% static '/images/edit-button.png' %} height=15px></td> {% endcomment %}
                <td class="prev_items"><a href="{% url 'bills:credit_card_view' item.pk %}" class="rowlink prev_items link-dark text-decoration-none"><img src="{% static 'images/cards/' %}{{ item.card.brand }}.png" height=14px> {{ item.card.number }}</a></td>
                {% comment %} <td class="prev_items" style="text-align:center">{{ item.card.number }}</td> {% endcomment %}
                <td class="prev_items" style="text-align:center">{{ item.due_date | date:"m-d" }}</td>
                <td class="prev_items" style="text-align:right">{{ item.min_pay | floatformat:2 | intcomma }}</td>
                <td class="prev_items" style="text-align:center">{% if item.inconsistencies != 0 %}<strong>{{ item.inconsistencies }}</strong>{% elif item.has_inconsistency %}<strong>1</strong>{% else %}-{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>


{% endif %}

{% endblock %}