{% extends "portal/base.html" %}

{% load static %}

{% load humanize %}

{% block title %} Editar operación {% endblock title %}

{% block content %}

{% for item in object.items %}
    {{item}}
{% endfor %}

<div class="form-group col col-md-5 mx-auto">
    <form method="post">
        {% csrf_token %}

        {% for field in form %}
        <p class="fieldWrapper">
            {% if 'Original' in field.label_tag %}
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            {% elif 'Operaciones' not in field.label_tag %}
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            {% endif %}
        </p>
    {% endfor %}


            {% if form.ops.value %}
                <p class="fieldWrapper">
                    {% comment %} {{ form.ops.errors }} {% endcomment %}
                    <label for="{{ form.ops.id_for_label }}">Operación asociada:</label>
                    {% comment %} {{ form.ops }} {% endcomment %}
                    <div class="card border border-dark border-2 rounded">
                        <div class="container row">
                            <div class="col">
                                <p>
                                    <br>
                                    <font size=4em>&#128197;</font> {{ object.op_match.date | date:"Y-m-d" }}<br>
                                    <font size=4em>&#127970;</font> {{ object.op_match.entity }}<br>
                                    <font size=4em>&#128181;</font> $ {{ object.op_match.amount | floatformat:2 | intcomma }}<br>
                                    <font size=4em>&#128179;</font> <img src="{% static 'images/cards/' %}{{ object.bill.card.brand }}.png" height=18px> {{ object.bill.card.number }}
                                </p>
                            </div>
                            <div class="col col-3 my-auto" align="right">
                                <div class="container">
                                    <a href="{% url 'bills:billop_remove_cardop' object.bill.id object.id %}" class="btn btn-secondary btn-danger" type="submit">Quitar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    {% comment %} <a href="{% url 'bills:billop_remove_cardop' object.bill.id object.id %}" class="btn btn-secondary btn-danger" type="submit">Quitar</a> {% endcomment %}
                    </p>
            {% else %}
                {% if object.type == 'expense' %}
                    {% if bill_card_ops_num > 0 %}
                        <p class="fieldWrapper">
                            {{ form.ops.errors }}
                            <label for="{{ form.ops.id_for_label }}">Operaciones sin equivalencia:</label>
                            {{ form.ops }}
                        </p>
                    {% else %}
                        <p class="fieldWrapper">
                            <label for="{{ form.ops.id_for_label }}">Problema:</label>
                            <p class="alert alert-danger">Este cargo no fue informado al momento de la transacción.</p>
                        </p>
                    {% endif %}
                {% endif %}
            {% endif %}

        <br>

        <div class="container" align="center">
            <input
                class="btn btn-secondary me-1"
                value="Actualizar"
                type="submit">
            <input
                class="btn btn-secondary me-1"
                value="Cancelar"
                type="button"
                onclick="location.href='javascript:history.go(-1)'">
            <input
                class="btn btn-secondary me-1"
                value="&#128270; Maps"
                type="button"
                onclick="window.open('https://timeline.google.com/maps/timeline?pb=!1m2!1m1!1s{{ object.date_string }}','_blank')">
        </div>
    </form>
</div>

{% endblock %}