{% extends "portal/base.html" %}

{% load static %}

{% load humanize %}

{% comment %} {% block title %} Editar operación {% endblock title %} {% endcomment %}

{% block title %}

<div class="container" align="center">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'portal:index' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">...</li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'bills:credit_cards' %}">Resúmenes</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'bills:credit_card_view' object.bill.id %}">{{object.bill.bill_id}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editar</li>
    </ol>
</div>

{% endblock title %}


{% block content %}

{% for item in object.items %}
    {{item}}
{% endfor %}

<div class="form-group col col-md-5 mx-auto">
    <form method="post">
        {% csrf_token %}

        {% for field in form %}
        <p class="fieldWrapper">
            {% if 'Original' in field.label_tag %}
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            {% elif 'Operaciones' not in field.label_tag %}
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            {% endif %}
        </p>
    {% endfor %}


            {% if form.ops.value %}
                <p class="fieldWrapper">
                    <label for="{{ form.ops.id_for_label }}">Operación asociada:</label>
                    <div class="card border border-dark border-2 rounded">
                        <div class="container row">
                            <div class="col">
                                <p>
                                    <br>
                                    <font size=4em>&#128197;</font> {{ object.op_match.date | date:"Y-m-d" }}<br>
                                    <font size=4em>&#127970;</font> {{ object.op_match.entity }}<br>
                                    <font size=4em>&#128181;</font> $ {{ object.op_match.amount | floatformat:2 | intcomma }}<br>
                                    <font size=4em>&#128179;</font> <img src="{% static 'images/cards/' %}{{ object.bill.card.brand }}.png" height=18px> {{ object.bill.card.number }}
                                </p>
                            </div>
                            <div class="col col-3 my-auto" align="right">
                                <div class="container">
                                    {% comment %} <a href="{% url 'bills:billop_remove_cardop' object.bill.id object.id %}" class="btn btn-secondary btn-danger" type="submit">Quitar</a> {% endcomment %}


                                    <div class="container mt-1">
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#item_remove">
                                            Quitar
                                        </button>
                                        <br>
                                    </div>
                                    
                                    <!-- Modal -->
                                    <div class="modal fade" id="item_remove" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="item_remove">Operación asociada</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body" align="left">
                                                    Quitar asociación a '{{ object.name }}'?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" onclick=location.href="{% url 'bills:billop_remove_cardop' object.bill.id object.id %}">Quitar</button>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
        

                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </p>
            {% else %}
                {% if object.type == 'expense' %}
                    {% if bill_card_ops_num > 0 %}
                        {% comment %} <p class="fieldWrapper">
                            {{ form.ops.errors }}
                            <label for="{{ form.ops.id_for_label }}">Operaciones sin equivalencia:</label>
                            {{ form.ops }}
                        </p> {% endcomment %}


                        <p class="fieldWrapper">
                            <label for="{{ form.ops.id_for_label }}">Operaciones sin asociar:</label>
                            {% for operation in bill_card_ops %}
                                {% if bill_card_op_candidate.amount == operation.amount %}
                                    <div class="card border border-success border-2 rounded" style="background-color: #8FFECA">
                                {% else %}
                                    <div class="card border border-2 rounded">
                                {% endif %}
                                <div class="container row">
                                    <div class="col">
                                        <p>
                                            <br>
                                            <font size=4em>&#128197;</font> {{ operation.date | date:"Y-m-d" }}<br>
                                            <font size=4em>&#127970;</font> {{ operation.entity }}<br>
                                            <font size=4em>&#128181;</font><strong> $ {{ operation.amount | floatformat:2 | intcomma }} </strong><br>
                                            {% comment %} <font size=4em>&#128179;</font> <img src="{% static 'images/cards/' %}{{ operation.card.brand }}.png" height=18px> {{ object.bill.card.number }} {% endcomment %}
                                        </p>
                                    </div>
                                    <div class="col col-3 my-auto" align="right">
                                        <div class="container">
                                            <a href="{% url 'bills:billop_associate_cardop' object.bill.id object.id operation.id %}" class="btn btn-secondary
                                            {% if bill_card_op_candidate.amount == operation.amount %}
                                                btn-success
                                            {% endif %}
                                            " type="submit">Asociar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            {% endfor %}
                            <br>
                        </p>
        

                    {% else %}
                        <p class="fieldWrapper">
                            <label for="{{ form.ops.id_for_label }}">Problema:</label>
                            <p class="alert alert-danger">Este cargo no fue informado al momento de la transacción.</p>
                        </p>
                    {% endif %}
                {% endif %}
            {% endif %}

        <br>

        <div class="container" align="center">
            {% if bill_card_ops_num > 0 and object.type == 'expense' %}            
            <input
                class="btn btn-secondary me-1"
                value="Actualizar"
                type="submit">
            <input
                class="btn btn-secondary me-1"
                value="Cancelar"
                type="button"
                onclick="location.href='javascript:history.go(-1)'">
            {% else %}
            <input
                class="btn btn-secondary me-1"
                value="Volver"
                type="button"
                onclick="location.href='javascript:history.go(-1)'">
            {% endif %}
            {% if object.type == 'expense' %}                
            <input
                class="btn btn-secondary me-1"
                value="&#128270; Maps"
                type="button"
                onclick="window.open('https://timeline.google.com/maps/timeline?pb=!1m2!1m1!1s{{ object.date_string }}','_blank')">
            {% endif %}
        </div>
    </form>
</div>

{% endblock %}