{% load static %}

{% load humanize %}

<div class="container-fluid d-none d-md-block"> <!-- Desktop version -->

    <div class="my-3 container" style="width: 900px" align="center">
        <ol class="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <li class="breadcrumb-item active" aria-current="page">Operaciones</li>
            <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'credit_cards:last_ops' 1 %}">Ver todas</a></li>
        </ol>
    </div>

    <div class="container-fluid d-none d-md-block" style="width: 800px"> <!-- Desktop version -->
        <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col" class="col-1"></th>
                <th scope="col" class="col-2">Fecha</th>
                <th scope="col" class="col-2">Entidad</th>
                <th scope="col" class="col-1 px-md-5">Importe</th>
                <th scope="col" class="col-2" style="text-align:center">Categoría</th>
            </tr>
        </thead>
        <tbody>
        {% for item in last_ops %}
            <tr>
                <td><a href="{% url 'credit_cards:update_op' item.pk %}" class="link-dark text-decoration-none rowlink"><img src="{% static 'images/cards/' %}{{ item.card.brand }}.png" height=18px> {{ item.card.number }}</a></td>
                <td>{{ item.date | date:"Y-m-d H:m" }}</td>
                {% comment %} <td>{{ item.entity }}</td> {% endcomment %}
                <td>{% if item.comment != None %}{{ item.comment | truncatechars:20 }}{% else %}{{ item.entity | truncatechars:20 }}{% endif %}</td>
                <td style="text-align:right" class="col-1 px-md-5">{{ item.amount | floatformat:2 | intcomma }}</td>
                <td>{% if item.category != ''%}&#127991; {{ item.category }}{% else %}-{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>

<div class="container-fluid d-block d-md-none"> <!-- Mobile version -->

    <div class="my-3 container" align="center">
        <ol class="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <li class="breadcrumb-item active" aria-current="page">Operaciones</li>
            <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'credit_cards:last_ops' 1 %}">Ver todas</a></li>
        </ol>
    </div>

    <table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Fecha</th>
            <th scope="col">Entidad</th>
            <th scope="col">Importe</th>
        </tr>
    </thead>
    <tbody>
    {% for item in last_ops %}
        <tr>
            <td><a href="{% url 'credit_cards:update_op' item.pk %}" class="link-dark text-decoration-none rowlink"><img src="{% static 'images/cards/' %}{{ item.card.brand }}.png" height=14px> {{ item.card.number }}</a></td>
            <td>{{ item.date | date:"m-d" }}</td>
            {% comment %} <td>{{ item.entity | truncatechars:15 }}</td> {% endcomment %}
            <td>{% if item.comment != None %}{{ item.comment | truncatechars:15 }}{% else %}{{ item.entity | truncatechars:15 }}{% endif %}</td>
            <td align="right">{{ item.amount | floatformat:0 | intcomma }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
