{% load static %}

{% load humanize %}

<div class="container-fluid d-none d-md-block"> <!-- Desktop version -->
    {% comment %} <div class="my-3 container" style="width: 900px">
        <h4>&#9200; Resúmenes pendientes</h4>
    </div> {% endcomment %}

    <div class="my-3 container" style="width: 900px" align="center">
        <ol class="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'credit_cards:index' %}">Tarjetas</a></li>
            <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'bills:credit_cards' %}">Resúmenes</a></li>
        </ol>
    </div>

    <div class="container-fluid d-none d-md-block" style="width: 800px"> <!-- Desktop version -->
        <div class="table-responsive">
            <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">Tarjeta</th>
                    <th scope="col">Factura</th>
                    <th scope="col" style="text-align:center"></th>
                    <th scope="col">Titular</th>
                    <th scope="col" style="text-align:center">Vence</th>
                    <th scope="col" style="text-align:center">Pago</th>
                    <th scope="col" style="text-align:center">Pago total</th>
                </tr>
            </thead>
            <tbody>
            {% for item in pending_bills %}
                    <tr>
                    <td><a href="{% url 'bills:credit_card_view' item.pk %}" class="rowlink link-dark text-decoration-none"><img src="{% static 'images/cards/' %}{{ item.card.brand }}.png" height=18px> {{ item.card.number }}</a></td>
                    <td>&#x1F4C3; {{ item.bill_id }}</td>
                    <td style="text-align:center">{% if item.inconsistencies != 0 %}&#x274C;{% else %}&#x2714;{% endif %}</td>
                    <td>{{ item.card.name }}</td>
                    <td style="text-align:center">{{ item.due_date | date:"Y-m-d" }}</td>
                    <td align="right">{{ item.min_pay | floatformat:2 | intcomma }}</td>
                    <td align="right">{{ item.total_pay | floatformat:2 | intcomma }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="table-info" style="text-align:center">Total</td>
                    <td class="table-info" style="text-align:right">{{ pending_bills_subtotal | floatformat:2 | intcomma }}</td>
                    <td></td>
                </tr>
            </tfoot>
            </table>
        </div>
    </div>
</div>

<div class="container-fluid d-block d-md-none"> <!-- Mobile version -->
    {% comment %} <div class="my-3 container">
        <h4>&#9200; Resúmenes pendientes</h4>
    </div> {% endcomment %}

    <div class="my-3 container" align="center">
        <ol class="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'credit_cards:index' %}">Tarjetas</a></li>
            <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'bills:credit_cards' %}">Resúmenes</a></li>
        </ol>
    </div>

    <div class="table-responsive">
        <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col" style="text-align:center">Tarjeta</th>
                <th scope="col" style="text-align:center">Venc.</th>
                <th scope="col" style="text-align:center">Pago</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for item in pending_bills %}
                <tr>
                <td><a href="{% url 'bills:credit_card_view' item.pk %}" class="rowlink link-dark text-decoration-none"><img src="{% static 'images/cards/' %}{{ item.card.brand }}.png" height=14px> {{ item.card.number }}</td>
                {% comment %} <td><img src="{% static 'images/cards/' %}{{ item.card.brand }}.png" height=18px> {{ item.card.number }}</td> {% endcomment %}
                <td style="text-align:center">{{ item.due_date | date:"m-d" }}</td>
                <td style="text-align:center">{{ item.min_pay | floatformat:0 | intcomma }}</td>
                <td style="text-align:center">{% if item.inconsistencies != 0 %}&#x274C;{% else %}&#x2714;{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td class="table-info" style="text-align:center">Total</td>
                <td class="table-info" style="text-align:right">{{ pending_bills_subtotal | floatformat:2 | intcomma }}</td>
                <td></td>
            </tr>
        </tfoot>
        </table>
    </div>
</div>
