{% load static %}

{% load humanize %}

<div class="container d-none d-md-block"> <!-- Desktop version -->

    <div class="my-3 container" style="width: 900px" align="center">
        <ol class="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'credit_cards:index' %}">Tarjetas</a></li>
            <li class="breadcrumb-item active" aria-current="page">Parciales</li>
        </ol>
    </div>


    <div class="container" style="width: 800px">
        <div class="table" style="width: 400px">
            <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col" class="col-md-2">&#128195;</th>
                    <th scope="col" class="col-md-1">Titular</th>
                    <th scope="col" class="col-md-1 px-md-3" style="text-align:right">Mínimo</th>
                    <th scope="col" class="col-md-1 px-md-3" style="text-align:right">Total</th>
                </tr>
            </thead>
            <tbody>
            {% for item in unbilled_spending %}
                    <tr>
                    <td><a href="{% url 'credit_cards:unbilled_spending' item.0.id %}" class="rowlink link-dark text-decoration-none"><img src="{% static 'images/cards/' %}{{ item.0.brand }}.png" height=18px> {{ item.0.number }}</a></td>
                    <td>{{ item.0.name }}</td>
                    <td class="px-md-3" style="text-align:right">{{ item.1 | floatformat:2 | intcomma }}</td>
                    <td class="px-md-3" style="text-align:right">{{ item.2 | floatformat:2 | intcomma }}</td>
                    </tr>
            {% endfor %}
            </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td class="table-info" style="text-align:center">Total</td>
                            <td class="table-info px-md-3" style="text-align:right">{{ min | floatformat:2 | intcomma }}</td>
                            <td class="table-info px-md-3" style="text-align:right">{{ total | floatformat:2 | intcomma }}</td>
                        </tr>
                    </tfoot>
            </table>
        </div>
    </div>
</div>

<div class="container-fluid d-block d-md-none">  <!-- Mobile version -->

    <div class="my-3 container" align="center">
        <ol class="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'credit_cards:index' %}">Tarjetas</a></li>
            <li class="breadcrumb-item active" aria-current="page">Parciales</li>
        </ol>
    </div>


    <div class="table-responsive">
        <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">&#128195;</th>
                <th scope="col">Titular</th>
                <th scope="col" style="text-align:right">Mínimo</th>
                <th scope="col" style="text-align:right">Total</th>
            </tr>
        </thead>
        <tbody>
        {% for item in unbilled_spending %}
                <tr>
                <td><a href="{% url 'credit_cards:unbilled_spending' item.0.id %}" class="rowlink link-dark text-decoration-none"><img src="{% static 'images/cards/' %}{{ item.0.brand }}.png" height=18px> {{ item.0.number }}</a></td>
                <td>{{ item.0.name }}</td>
                <td style="text-align:right">{{ item.1 | floatformat:0 | intcomma }}</td>
                <td style="text-align:right">{{ item.2 | floatformat:0 | intcomma }}</td>
                </tr>
        {% endfor %}
        </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td class="table-info" style="text-align:center">Total</td>
                        <td class="table-info" style="text-align:right">{{ min | floatformat:0 | intcomma }}</td>
                        <td class="table-info" style="text-align:right">{{ total | floatformat:0 | intcomma }}</td>
                    </tr>
                </tfoot>
        </table>
    </div>
</div>
